html {
  font-size: clamp(14px, 1.5dvw, 18px);
  line-height: clamp(1.4, 1.5, 1.6);
  letter-spacing: clamp(0.01em, 0.02dvw, 0.03em);
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--dark-green-rgb), 0.5) transparent;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: var(--background-color);
  color: var(--text-color);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

h1 {
  font-weight: 200;
  font-size: 2rem;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 1.45rem;
}

h3,
h4 {
  font-weight: 400;
  letter-spacing: 0.5px;
  border-bottom: 1px solid var(--border-color);
  padding: 1px var(--side-padding);
  margin: 0;
}

h4 {
  margin: var(--side-padding) 0;
  font-size: 1.25em;
}

h5 {
  font-size: 1rem;
  margin: 0;
}

.wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color var(--transition-speed);

  &.external-link {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 60%;
      width: 0;
      height: 0;
      opacity: 0;
      margin-left: 0.15em;
      vertical-align: text-bottom;
      background-color: currentColor;
      mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z"/></svg>') no-repeat center/contain;
      transition: all var(--transition-speed);
    }
  }
}

.chip-label {
  background-color: var(--light-green);
  color: var(--text-color);
  box-shadow: 0 0 2px rgb(var(--dark-green-rgb));
  border-radius: var(--border-radius);
  padding: var(--top-padding) var(--side-padding);
  border: 1px solid var(--light-green);
}

#back-to-top {
  position: fixed;
  bottom: var(--footer-height);
  right: var(--side-padding);
  width: 2rem;
  height: 2rem;
  color: var(--link-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-speed),
    visibility var(--transition-speed);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#back-to-top::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  border-bottom-left-radius: 25%;
  transform: rotate(135deg);
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
}

#back-to-top.visible {
  visibility: visible;
  opacity: 1;
}

a:hover {
  color: var(--text-color);
}

@media (hover: hover) and (pointer: fine) {

  a.chip-label:hover {
    border-color: var(--border-color);
    transition: all var(--transition-speed);
  }

  a.external-link:hover::after {
    opacity: 1;
    width: 0.5em;
    height: 0.5em;
  }

  #back-to-top:hover {
    background-color: var(--light-green);
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.3);
    transition: all var(--transition-speed);
  }
}