@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --background-color-shade: #1f1f1f;
    --text-color: var(--text-color-dark-background);
    --dark-green--rgb: 54, 124, 77;
    --dark-green: rgba(var(--dark-green--rgb), 1);
    --light-green: #2a4f3e;
    --link-color: var(--link-color-dark-background);
  }

  #main-header,
  #main-footer {
    background-color: var(--background-color-shade);
  }
  .section-content {
    background-color: var(--background-color-shade);
  }
  
  .organization-timeline .section-content:nth-child(odd) {
    background-color: var(--background-color);
  }

  .organization-timeline .section-content:nth-child(odd) .affiliation-details,
  .organization-timeline .section-content:nth-child(odd) h5 {
    background-color: revert;
  }

  @media (hover: hover) and (pointer: fine) {

    #main-menu a:hover {
      background-color: var(--light-green);
      color: var(--text-color);
    }

  }
}