article :is(h3, h4) {
  border-image: linear-gradient(90deg, var(--border-color), transparent) 1;
}

article section {
  flex: 1;
  position: relative;
  box-sizing: border-box;
}

.section-content {
  padding: var(--side-padding);
  scroll-margin-top: calc(var(--header-height) + var(--experience-timeline-height));
  border-radius: var(--border-radius);
  margin: 2rem var(--side-padding);
}

#summary .section-content p:first-child {
  margin-top: 0;
}

.section-content h4 {
  padding-left: 0;
}

article section ul {
  padding-left: 1em;
  margin: 0;
  list-style-type: square;

  li::marker{
    color: var(--border-color);
  }
}

#experience-timeline {
  position: sticky;
  top: var(--header-height);
  margin-top: var(--top-padding);
  padding: 1rem 0.1rem;
  width: 100%;
  max-width: 100dvw;
  overflow-x: auto;
  overflow-y: hidden;
  height: fit-content;
  box-sizing: border-box;
}

#experience-timeline ul {
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  gap: 0.25rem;
  padding: 0;
  justify-content: space-evenly;
  width: fit-content;
  min-width: 100%;
}

#experience-timeline a {
  border: 2px solid transparent;
  display: block;
  text-decoration: none;
}

#experience-timeline a time {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#experience-timeline a time:last-child {
  border-top: 2px solid var(--border-color);
}

#experience-timeline time {
  white-space: nowrap;
}

.organization-timeline .section-content:first-child {
  margin-top: 0;
}

.organization-timeline .section-content:nth-child(odd) {
  background-color: var(--background-color-shade);
}

.organization-timeline header h4 {
  margin: 0;
  line-height: 1;
  font-style: italic;
  font-weight: 500;
}

.affiliation-details {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: var(--side-padding);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.organization-timeline .section-content h5 {
  padding: 0 var(--side-padding);
  border-left: 0.25rem solid var(--border-color);
}

.affiliation-period {
  text-align: right;
}

.organization-timeline section h5 {
  text-indent: var(--side-padding);
  padding: var(--side-padding);
  padding-bottom: 0;
}

.employment-accomplishments {
  margin-bottom: calc(var(--side-padding) * 2.5);
}

.employment-skillset ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.employment-skillset ul li {
  padding: var(--side-padding);
  padding-top: 0;
  margin: 0 0.1rem;
}