#main-header {
  --header-text-color: var(--text-color-dark-background);
  --header-link-color: var(--link-color-dark-background);
  --background-highlight-rgb: var(--light-green-rgb);

  background-color: var(--dark-green);
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.85);
}

#main-header .wrapper {
  display: flex;
  align-items: baseline;
  padding: 0 var(--side-padding);
}

#person-name-and-title {
  flex: 1;
  display: flex;
  align-items: baseline;
  gap: var(--side-padding);
  color: var(--header-text-color);
}

#person-name-and-title :where(h1, h2) {
  margin: 0;
  white-space: nowrap;
}

#person-name {
  position: relative;
  color: var(--header-link-color);
}

#job-title {
  font-weight: normal;
  background-color: rgb(var(--background-highlight-rgb), 0.1);
  padding: 0 var(--side-padding);
  border-radius: var(--border-radius);
  border: none;
  font-size: 1.5rem;
}

#main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: clamp(0rem, 4vw, 5em);
}

#main-menu li:has(a[href="#professional-attributes"]) {
  display: none;
}

#main-menu a {
  color: var(--header-link-color);
  text-decoration: none;
  padding: clamp(0.1rem, 4vw, 0.5rem);
  padding-bottom: 1px;
  border-bottom: clamp(0.1rem, 4vw, 0.5rem) solid transparent;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

@media (hover: hover) and (pointer: fine) {
  #main-menu a:hover {
    text-decoration: none;
    background-color: var(--light-green);
    color: var(--header-text-color);
    border-color: var(--light-green);
  }

  @media (prefers-color-scheme: light){
    #main-menu a:hover {
      color: var(--dark-green);
    }
  }
}