@media print {
  * {
    background-color: white !important;
    color: black !important;
    box-shadow: none !important;
    border-image: none !important;
  }

  #main-header {
    margin-bottom: 2.5rem;
    position: initial;
  }

  main.wrapper {
    flex-direction: column;
  }

  nav,
  footer,
  #back-to-top {
    display: none;
  }

  #person-name {
    text-decoration-color: black;
  }

  .employment-skillset h5 {
    display: inline-block;
  }

  .employment-skillset ul {
    display: contents;
  }

  .employment-skillset ul li {
    display: inline-block;
  }

  .section-content {
    break-inside: avoid-page;
  }

  section#summary,
  section#experience,
  section#education {
    break-before: avoid-page;
  }

  section#summary {
    break-before: auto;
  }

  h1,
  h2,
  h3 {
    break-after: avoid;
  }

  p,
  ul {
    orphans: 2;
    widows: 2;
  }
}
